.bhromaon-h1{
color: #FFFFFF;
position: absolute;
width: 342px;
height: 26px;
left: 700px;
top: 208px;
font-family: 'Josefin Sans', sans-serif;
font-size: 40px;
}

.bhromaon-p1{
    color:#FFFFFF;
    position: absolute;
    width: 342px;
    height: 26px;
    left: 733px;
    top: 261px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.search-bar input[type=text] {
    position: absolute;
    top: 61%;
    left:50%;
    width: 28%;
    height: 24px;
    

}

.nav-bar{
    position: absolute;
    width: 1773px;
    height: 57px;
    left: 143px;
    top: 770px;
    display: flex;
    justify-content: space-between;
    
    background: #5474FD;

}

.p-nav--bar{
    color:#FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
 
}

.a-nav{
    color: #FFFFFF;
  margin-left: 80px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  width: 100%;

}
.a-nav:hover{
    cursor: pointer;
    
}