.bhromaon-h1{
color: #FFFFFF;
position: absolute;
width: 342px;
height: 26px;
left: 700px;
top: 208px;
font-family: 'Josefin Sans', sans-serif;
font-size: 40px;
}

.bhromaon-p1{
    color:#FFFFFF;
    position: absolute;
    width: 342px;
    height: 26px;
    left: 733px;
    top: 261px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.search-bar input[type=text] {
    position: absolute;
    top: 61%;
    left:50%;
    width: 28%;
    

}